/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
html
{
    font-size:12px;
    font-family:verdana;
    color:black;
}
body
{
    margin:0;
    padding:0;
}
#container
{
    background-color:#51473d;
    height:700px;
    width:600px;
    margin-left:auto;
    margin-right:auto;
}