/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
html
{
    font-size:12px;
    font-family:verdana;
    color:black;
}
body
{
    margin:0;
    padding:0;
    line-height:1;
    top:0;
}
#container
{
    background-color:#51473d;
    height:450px;
    width:600px;
    margin-left:auto;
    margin-right:auto;
}
#topbar
{
    float:right;
    font-style:italic;
    color:white;
    font-family:arial;
    padding-right:10px;
    margin-bottom:5px;
    padding-top:5px;
}
#menu
{
    clear:both;
    background-image:url("pics/coffey.jpg");
    height:200px;
    width:600px;
    margin-left:auto;
    margin-right:auto;
    background-repeat:no-repeat;
}
#menu ul
{
    margin:199px 0 0 -20px;
    list-style-type:none;
    text-transform:capitalize;
}
#menu ul li a
{
    float:left;
    background-color:#797066;
    text-align:justify;
    padding:5px 20px 5px 20px;
    border:1px 1px 0 1px solid #51473d;
}
#menu ul li a:hover
{
    background-color:#9c9084;
    color:white;
}
#menu .active a
{
    background-color:#eae7d2;
    color:#797066;
}
#menu a
{
    color:white;
    text-decoration:none;
}
#content
{
    background-color:#eae7d2;
    width:600px;
    height:240px;
    margin-top:33px;
}
#maincontent
{
    float:left;
    height:210px;
    width:350px;
    border-right:1px dashed #9da2aa;
    margin-top:10px;
    margin-left:10px;
    padding-right:10px;
}
#maincontent h1
{
    color:#4e5256;
    font-family:sans sarif;
    font-weight:normal;
    font-size:20px;
}
#maincontent p
{
    font-size:12px;
    color:#707377;
    font-family:arial;
}
#maincontent img
{
    float:left;
    padding-right:10px;
}
